body {
  font-family: "Comic Sans MS" !important;
}

._23h0-EcaBUorIHC-JZyh6J {
  background-color: #edffed;
}

._3AStxql1mQsrZuUIFP9xSg {
  visibility: hidden;
}

#sidebar-atf-0 {
  display: none;
}

._2vkeRJojnV7cb9pMlPHy7d, .s7gb5k5-3, .s5ln2uw-1 {
  background-color: #ffeded !important;
}
